# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
*.sqlite3
.venv/
venv/
staticfiles/
media/

# Node
node_modules/
.next/
.env.local
.env*.local
*.tsbuildinfo

# Docker
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
